{% extends "layout.html" %}
{% block content %}
  <form class="form" method="POST" action="go">
    <div class="input-group input--small">
        <label class="label">Camera Id</label>
        {{ form.camera_id }}

    </div>
      <div class="input-group input--small">
          <label class="label">Start Time</label>
          {{ form.start_time }}
      </div>
      <div class="input-group input--small">
          <label class="label">End Time</label>
          {{ form.end_time}}
      </div>

      {{ form.submit(class="btn btn-outline-info") }}
  </form>
  {% for q in qry %}
    {{ q.filepath }}
    <br>
  {% endfor %}
  {% endblock content %}
